<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="API_HOST" value="http://api.nlecloud.com"/>
		<add key="LOGIN_USER_ACCOUNT" value="hntdiot"/>
		<add key="LOGIN_USER_PASSWORD" value="hntdiot"/>
		<add key="LOGIN_IS_REMEMBER" value="false"/>
		<add key="LOGIN_IS_AUTOLOGIN" value="false"/>
	</appSettings>
</configuration>